<div
infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollUpDistance]="1.5"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScrollDown()"
      (scrolledUp)="onScrollUp()"
class="container-fluid">
    <div>
        <img (click)="backToGenres()" class="back-arrow" src="/assets/images/Arrow.png" alt="back-arrow">
        <span class="genre ml-3">{{genre}}</span>
    </div>
    <div class="row d-flex align-content-center mt-2">
        <div>
            <div class="form"> <i class="fa fa-search"></i> <input (keyup)="search($event)" type="text"
                    class="form-control form-input" placeholder="Search anything..."> <span class="left-pan"><i
                        class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div (click)="showBookDetails(item)" *ngFor="let item of books" class="col-lg-2 col-md-6 col-sm-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <img class="image" src="{{item?.formats['image/jpeg']}}" alt="image">
                    <h5 class="book-title">{{item?.title}}</h5>
                    <div *ngFor="let author of item.authors">
                        <p class="book-author">{{author?.name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>